<tr class="rb-task-reward-layout">
  <th scope="row">{{name}}</th>
  <td>{{value}}</td>
  <td><button type="button" class="complete-task-btn" task_id="{{id}}" task_name="{{name}}" task_value="{{value}}">Complete</button></td>
</tr>