<tr class="rb-task-reward-layout">
  <th scope="row">{{name}}</th>
  <td id="reward_cost_{{id}}">{{cost}}</td>
  <td><button type="button" class="request-reward-btn" reward_id="{{id}}" reward_name="{{name}}" reward_cost="{{cost}}">Request</button></td>
</tr>