<tr id="task_history_entry_{{id}}" class="rb-task-reward-layout">
  <th scope="row">{{user.name}}</th>
  <td>Pending</td>
  <td>{{task.name}}</td>
  <td><button type="button" class="approve-task-btn" task_history_id="{{id}}" completed_by_user_id="{{completed_by_user_id}}" task_value="{{task.value}}">Approve</button></td>
</tr>
